# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# IDE files
.vscode/
.idea/

# Test/cache files
.pytest_cache/
.coverage
htmlcov/
